# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environment
*.yml.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs
*.log

# Test artifacts
htmlcov/
.coverage
.cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# OS files
Thumbs.db